body {
  background: #3399FF;
}

div.picture {
  margin-top: center;
}

section#content{
  color: white;
  background-color: #0033CC;
  border-radius: 15px;
  padding: -2%;
  margin: 10px;
}

A:link {
    color: red;}

A.class1:visited {
  text-decoration: none; color: white;}

section#header {
  font-family: Comic Sans MS;
  font-style: italic;
  text-align: center;
}

div.barbell {
  position: absolute;
  z-index: -2;
  margin-top: -140px;
  margin-left: 200px;
  width: 100px;
  height: auto;
}

section.table {
  color: white;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }